.titleInfo {
    text-align: center;
    color: white;
}

.detailsInfo {
    display: flex;
    padding: 10px;
    color: gray;
}


/*left*/
.leftDetails {
    display: flex;
    justify-content: space-between;
}

.posterInfo {
    border-radius: 15px;
}

/*rigth*/

.rigth{
    padding-left: 10px;
}

@media (max-width: 450px) {
    .detailsInfo {
        flex-direction: column;
    }

    .posterInfo {
        width: 100%;
    }
}