.containerTreding {
    background-color: rgb(33,37,41);
}

.tredingTitle {
    text-align: center;
    color: white;
}

.movies {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 5px;
}

.movie {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.poster {
    height: 300px;
    cursor: pointer;
    border-radius: 15px;
}

.title {
    text-align: center;
    font-size: 12px;
    color: gray;
}